<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
</head>
<body>
	<div th:fragment="3x3-topster" class="topster-main col-6">
		<div class="row row-cols-3 g-2 g-lg-3">
			<div id="position-1" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-2" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-3" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-4" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-5" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-6" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-7" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-8" class="col">
				<div class="p-3">Row column</div>
			</div>
			<div id="position-9" class="col">
				<div class="p-3">Row column</div>
			</div>
		</div>
	</div>
</body>
</html>