<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
</head>
<body>
	<div th:fragment="3x3-topster" id="3x3" class="topster-main col-12 col-lg-6">
		<div class="row row-cols-3 g-2 g-lg-3 border border-dark">
			<div id="position-1" th:value="1" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
						<input type="text" name="src[]">
						<input type="text" name="title[]">
						<input type="text" name="artist[]">
						<input type="text" name="releaseDate[]">
						<input type="text" name="spotifyID[]">
						<input type="text" value="1" name="position[]">
					</div>
				</div>
			</div>
			<div id="position-2" th:value="2" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
						<input type="text" name="src[]">
						<input type="text" name="title[]">
						<input type="text" name="artist[]">
						<input type="text" name="releaseDate[]">
						<input type="text" name="spotifyID[]">
						<input type="text" value="2" name="position[]">
					</div>
				</div>
			</div>
			<div id="position-3" th:value="3" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
						<input type="text" name="src[]">
						<input type="text" name="title[]">
						<input type="text" name="artist[]">
						<input type="text" name="releaseDate[]">
						<input type="text" name="spotifyID[]">
						<input type="text" value="3" name="position[]">
					</div>
				</div>
			</div>
			<div id="position-4" th:value="4" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="4" name="position[]">
				</div>
				</div>
			</div>
			<div id="position-5" th:value="5" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="5" name="position[]">
				</div>
				</div>
			</div>
			<div id="position-6" th:value="6" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="6" name="position[]">
				</div>
				</div>
			</div>
			<div id="position-7" th:value="7" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="7" name="position[]">
				</div>
				</div>
			</div>
			<div id="position-8" th:value="8" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="8" name="position[]">
				</div>
				</div>
			</div>
			<div id="position-9" th:value="9" name="position" class="col">
				<div class="p-3">Row column
					<div class="form-group hide">
					<input type="text" name="src[]">
					<input type="text" name="title[]">
					<input type="text" name="artist[]">
					<input type="text" name="releaseDate[]">
					<input type="text" name="spotifyID[]">
					<input type="text" value="9" name="position[]">
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>