<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:fragment="4x4-topster" id="4x4" class="topster-main col-12 col-lg-6">
	<div class="row row-cols-4 g-2 g-lg-3 border border-dark">
		<div id="position-1" th:value="1" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
			<div class="form-group hide">
			<input type="text" name="src[]" id="src[]">
			<input type="text" name="title[]" id="title[]">
			<input type="text" name="artist[]" id="artist[]">
			<input type="text" name="releaseDate[]" id="releaseDate[]">
			<input type="text" name="spotifyID[]" id="spotifyID[]">
		</div>
		</div>
		<div id="position-2" th:value="2" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-3" th:value="3" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-4" th:value="4" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-5" th:value="5" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-6" th:value="6" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-7" th:value="7" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-8" th:value="8" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-9" th:value="9" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-10" th:value="10" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-11" th:value="11" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-12" th:value="12" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-13" th:value="13" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-14" th:value="14" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-15" th:value="15" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-16" th:value="16" name="position" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
	</div>
</div>
</body>
</html>