<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:fragment="4x4-topster" id="4x4" class="topster-main col-12 col-lg-6">
	<div class="row row-cols-4 g-2 g-lg-3 border border-dark">
		<div id="position-1" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-2" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-3" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-4" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-5" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-6" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-7" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-8" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-9" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-10" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-11" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-12" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-13" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-14" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-15" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-16" class="four-topster col border border-dark">
			<div class="p-3">Row column</div>
		</div>
	</div>
</div>
</body>
</html>