<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:fragment="5x5-topster" class="topster-main col-12 col-lg-6">
	<div class="row row-cols-5 g-2 g-lg-3 border border-dark">
		<div id="position-1" class="col border border-dark">
			<div class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi blanditiis debitis, dignissimos distinctio dolore, dolores eius enim error id, libero neque odio omnis quibusdam voluptatem. Accusantium consectetur facere quis.</div>
		</div>
		<div id="position-2" class="col border border-dark">
			<div class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quam quia rem rerum suscipit? Debitis mollitia necessitatibus pariatur repellendus voluptates. Ad alias ex, illum nostrum sit ullam voluptas! Illum, voluptate!</div>
		</div>
		<div id="position-3" class="col border border-dark">
			<div class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, corporis in! Ab asperiores beatae, cumque delectus dolores et fugiat iste nihil officiis placeat quia ratione repellendus rerum sit temporibus! Iure.</div>
		</div>
		<div id="position-4" class="col border border-dark">
			<div class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consectetur consequatur, consequuntur cum, cumque deleniti et eveniet fugiat illo, labore mollitia nam necessitatibus odio optio quibusdam reiciendis temporibus voluptates.</div>
		</div>
		<div id="position-5" class="col border border-dark">
			<div class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi cumque explicabo modi molestias nemo odit perferendis voluptates! Consequatur dolor inventore iusto laboriosam molestias nisi non officia pariatur, tenetur unde.</div>
		</div>
		<div id="position-6" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-7" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-8" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-9" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-10" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-11" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-12" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-13" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-14" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-15" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-16" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-17" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-18" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-19" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-20" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-21" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-22" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-23" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-24" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-25" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>