<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:fragment="5x5-topster" id="5x5" class="topster-main col-12 col-lg-6">
	<div class="row row-cols-5 g-2 g-lg-3 border border-dark">
		<div id="position-1" class="col border border-dark">
			<div class="p-3">Row Column</div>
		</div>
		<div id="position-2" class="col border border-dark">
			<div class="p-3">Row Column</div>
		</div>
		<div id="position-3" class="col border border-dark">
			<div class="p-3">Row Column</div>
		</div>
		<div id="position-4" class="col border border-dark">
			<div class="p-3">Row Column</div>
		</div>
		<div id="position-5" class="col border border-dark">
			<div class="p-3">Row Column</div>
		</div>
		<div id="position-6" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-7" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-8" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-9" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-10" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-11" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-12" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-13" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-14" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-15" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-16" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-17" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-18" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-19" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-20" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-21" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-22" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-23" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-24" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		<div id="position-25" class="col border border-dark">
			<div class="p-3">Row column</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>