<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--amanda didn't comment this out-->
<head th:replace="partials/create-head-partial.html :: head ('Edit Your Topster')"></head>
<body class="bg-dark">
<nav th:replace="partials/partials.html :: navbar"></nav>
<main>
    <!-- header -->
    <h1 class="d-flex mt-2 justify-content-center text-white">Let the topster creation magic begin...</h1>
    <!-- end header -->
    <br>
    <!-- instructions part -->
    <div class="d-flex justify-content-center" id="instructions-upper-bar">
        <button
                class="text-white btn-rounded profile3"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#create-instructions"
                aria-expanded="true"
                aria-controls="collapseExample"
        >
            Click for instructions
        </button>
    </div>
    <div id="create-instructions" class="collapse mt-3">
        <ul class="justify-content-center text-white">
            <li>Type in the title of your topster.</li>
            <li>Type in a description of your topster.</li>
            <li>You can decide if you want your topster to be public or not. Tick or untick the blue check mark.</li>
            <li>Choose a topster grid style.</li>
            <li>Type the name of the album or artist you are searching for in the search bar. Drag the album art of your
                choice into one of the boxes in the topster grid. If you want to replace an album art with another album
                art, or if you want to change the position of an album art, simply drag and drop to the preferred
                location.</li>
            <li>Select the RUN button and voila!</li>
        </ul>
    </div>
    <!-- end instructions part -->
    <br>
    <!--    <div id="album-art"></div><br>--> <!--amanda didn't comment this out-->
    <span class="d-flex justify-content-center text-white" id="topster-submission-restriction"><i class="fas fa-play"> Your topster collage can only be submitted by clicking the RUN button after each square is full and the topster has a title and description.</i></span>
    <br>
    <form th:action="@{/create-topster}" th:method="POST" th:object="${topster}">
        <!--  title, description fields, make public, and run button -->
        <h5 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        <div class="col-12 form-outline">
            <input id="topster-title" class="form-control text-white" th:field="*{title}" type="text" maxlength="255">
            <label class="form-label text-white" for="topster-title">Title of topster: </label>
        </div>
        <br>
        <h5 th:if="${#fields.hasErrors('body')}" th:errors="*{body}"/>
        <div class="col-12 form-outline">
            <textarea id="topster-text-body" class="form-control text-white" th:field="*{body}" maxlength="255" data-mdb-showcounter="true"></textarea>
            <label class="form-label text-white" for="topster-text-body">Description of topster: </label>
            <div class="form-helper text-white"></div>
        </div>
        <br>
        <div class="col-9"></div>
        <div class="col-7">
            <label for="public" class="text-white">Make public</label>
            <input type="checkbox" id="public" name="isPublic" text="public" value="public" checked>
            <!--                <button>Create</button>--> <!--amanda didn't comment this out-->
            <button class="text-white text-lg btn-rounded profile3 btn-sm" id="submit-topster" type="submit" value="submit" style="font-size: medium">RUN</button>
        </div>
        <hr>
        <br>
        <!--  end title, description fields, make public, and run button -->

        <!-- topster section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <!-- dropdown topster style selector -->
                    <div class="d-flex justify-content-center">
                        <label for="topster-type" class="text-white">Select a topster style: </label>
                        <select name="topster-type" id="topster-type" onchange="changeSelection()">
                            <option value="5x5">5x5</option>
                            <option value="4x4">4x4</option>
                            <option value="3x3">3x3</option>
                        </select>
                    </div>
                    <!-- end dropdown topster style selector -->
                    <br>
                    <!-- search bar -->
                    <div class="input-group d-flex justify-content-center">
                        <div class="form-outline">
                            <input type="text" id="search-bar" class="form-control col-5 text-white"/>
                            <label class="form-label text-white" for="search-bar"><i class="fas fa-search"></i> album or artist</label>
                        </div>
                        <button id="search-button" type="button" class="btn text-white btn-rounded profile3">Search</button>
                    </div>
                    <!-- end search bar -->

                    <div class="text-white">Search results provided by: <img src="../img/Spotify_Logo_RGB_White.png" alt="Spotify Logo"
                                                                             height="30%" width="30%"
                                                                             style="margin: 17px; min-width: 70px">
                    </div>
                    <div id="results" class="row"></div>
                </div>
                <!-- TOPSTER ART -->
                <div class="row row-cols-3 g-2 g-lg-3" id="3x3">
                    <div class="col" data-mdb-ripple-color="light"
                         th:each="topsterContent, iStat : ${topster.topsterContents}" th:value="${iStat.count}" th:name="position" th:if="${iStat.count <= 9}">
                        <div class="p-3">
                            <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                 th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName}+'&#010;'+'Release Date: ' +${topsterContent.album.releaseDate}"
                                 th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                                 height="100%" width="100%">
                            <div class="form-group hide">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumArt}" name="src[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumName}" name="title[]">
                                <input type="text" th:value="${topsterContent.album.spotifyArtist}" name="artist[]">
                                <input type="text" th:value="${topsterContent.album.releaseDate}" name="releaseDate[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumID}" name="spotifyID[]">
                                <input type="text" th:value="${topsterContent.position}" name="position[]">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-4 g-2 g-lg-3" id="4x4">
                    <div class="four-topster col border border-dark" th:each="topsterContent, iStat : ${topster.topsterContents}" th:value="${iStat.count}" th:name="position" th:if="${iStat.count <= 16}">
                        <div class="p-3">
                            <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                 th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName}+'&#010;'+'Release Date: ' +${topsterContent.album.releaseDate}"
                                 th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                                 height="100%" width="100%">
                            <div class="form-group hide">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumArt}" name="src[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumName}" name="title[]">
                                <input type="text" th:value="${topsterContent.album.spotifyArtist}" name="artist[]">
                                <input type="text" th:value="${topsterContent.album.releaseDate}" name="releaseDate[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumID}" name="spotifyID[]">
                                <input type="text" th:value="${topsterContent.position}" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="10" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="11" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="12" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="13" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="14" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="15" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="16" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-5 g-2 g-lg-3" id="5x5">
                    <div class="col border border-dark" th:each="topsterContent, iStat : ${topster.topsterContents}" th:value="${topsterContent.position}" th:name="position" th:if="${iStat.count <= 25}">
                        <div class="p-3">
                            <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                 th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName}+'&#010;'+'Release Date: ' +${topsterContent.album.releaseDate}"
                                 th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                                 height="100%" width="100%">
                            <div class="form-group hide">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumArt}" name="src[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumName}" name="title[]">
                                <input type="text" th:value="${topsterContent.album.spotifyArtist}" name="artist[]">
                                <input type="text" th:value="${topsterContent.album.releaseDate}" name="releaseDate[]">
                                <input type="text" th:value="${topsterContent.album.spotifyAlbumID}" name="spotifyID[]">
                                <input type="text" th:value="${topsterContent.position}" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="10" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="11" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="12" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="13" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="14" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="15" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="16" name="position" th:if="${#lists.size(topster.topsterContents) == 9}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="17" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="18" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="19" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="20" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="21" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="22" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="23" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="24" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                    <div class="col border border-dark" value="25" name="position"
                         th:if="${#lists.size(topster.topsterContents) == 9} or ${#lists.size(topster.topsterContents) == 16}">
                        <div class="p-3">
                            <div class="form-group hide">
                                <input type="text" value="" name="src[]">
                                <input type="text" value="" name="title[]">
                                <input type="text" value="" name="artist[]">
                                <input type="text" value="" name="releaseDate[]">
                                <input type="text" value="" name="spotifyID[]">
                                <input type="text" value="" name="position[]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of topster section -->
    </form>
</main>
<script th:replace="partials/partials.html :: md-js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--amanda didn't comment this out-->
<!--<script src="/keys.js"></script>-->
<!--    <script src="../js/auth.js"></script>-->

<!-- beginning of javascript section -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var accessToken = [[${authToken}]].access_token;
    /*]]>*/
</script>
<script src="../js/topster-html.js"></script>
<script src="../js/char-count.js"></script>
<script>
    'use strict';

    const threeByThreeTopster = $('#3x3');
    const fourByFourTopster = $('#4x4');
    const fiveByFiveTopster = $('#5x5');

    const searchBar = $("#search-bar");
    const searchButton = $("#search-button");
    const searchResults = document.querySelector("#results");
    const albumArtDiv = document.querySelector("#album-art");
    const submitButton = document.querySelector("#submit-topster");
    const submissionRestriction = $("#topster-submission-restriction");

    //Following guide at https://www.youtube.com/watch?v=1vR3m0HupGI&ab_channel=MakerAtPlayCoding
    var redirect_uri = "http://localhost:8080/create-topster";
    const AUTHORIZE = "https://accounts.spotify.com/authorize";
    const TOKEN = "https://accounts.spotify.com/api/token";

    var access_token = null;
    var refresh_token = null;


    function changeSelection() {
        console.log($("#topster-type").val());
        switch ($("#topster-type").val()) {
            case "3x3":
                $("#3x3").css("display", "block");
                $("#4x4").css("display", "none");
                $("#5x5").css("display", "none");
                submissionControl();
                break;
            case "4x4":
                $("#3x3").css("display", "none");
                $("#4x4").css("display", "block");
                $("#5x5").css("display", "none");
                submissionControl();
                break;
            case "5x5":
                $("#3x3").css("display", "none");
                $("#4x4").css("display", "none");
                $("#5x5").css("display", "block");
                submissionControl();
                break;
            default:
                console.log("This should never happen")
        }
    }

    function clearUnselectedPartials() {
        switch ($("#topster-type").val()) {
            case "3x3":
                $("#4x4").outerHTML = "";
                $("#5x5").outerHTML = "";
                break;
            case "4x4":
                $("#3x3").outerHTML = "";
                $("#5x5").outerHTML = "";
                break;
            case "5x5":
                $("#3x3").outerHTML = "";
                $("#4x4").outerHTML = "";
                break;
            default:
                console.log("This should never happen")
        }
    }

    function submissionControl(){
//    function deactivates the submit button if the selected topster is not full
        switch ($("#topster-type").val()) {
            case "3x3":
                if($("#3x3").find("img").length < 9){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            case "4x4":
                if($("#4x4").find("img").length < 16){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            case "5x5":
                if($("#5x5").find("img").length < 25){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            default:
                console.log("This should never happen")
        }
    }

    function spotifySearch() {
        let options = {
            headers: {
                Accept: "application/json",
                Authorization: "Bearer " + accessToken,
                "Content-Type": "application/json"
            },
            method: "Get"
        };
        fetch("https://api.spotify.com/v1/search?q=" + searchBar.val() + "&type=album,artist", options)
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    searchResults.innerHTML = "";
                    if (data.albums.items.length == 0) {
                        searchResults.innerHTML = "Sorry, no results were found that match your search. Try something else!";
                    } else {
                        data.albums.items.forEach(function (album, iterator) {
                            let albumName;
                            let albumString = "Artist: " + album.artists[0].name;
                            if(album.name.indexOf('"') > -1){
                                albumName=album.name.replaceAll('"', "");
                                albumString += "\nAlbum: " + albumName;
                            }else{
                                albumString += "\nAlbum: " + album.name;
                                albumName=album.name;
                            }
                            albumString += "\nRelease Date: " + album.release_date;
                            let albumArtUrl = album.images[0].url;
                            // console.log(albumArtUrl);
                            // console.log(albumString);
                            searchResults.innerHTML +=
                                    `<div id="result-${iterator}" class="search-result col-4">
                                        <img title="${albumString}" src="${albumArtUrl}"
                                        alt="${albumName} cover art" width="100%" height="100%"
                                        draggable="true" data-title="${albumName}"
                                        data-artist="${album.artists[0].name}"
                                        data-releasedate="${album.release_date}"
                                        data-spotifyid="${album.id}">`
                        });
                    }
                })
                .catch(error => console.error(error));
        onSearch();
    }

    searchBar.on("keyup", function (event) {
        if (event.code == "Enter") {
            spotifySearch();
        }
    });
    searchButton.click(spotifySearch);
    changeSelection(); //This should cause non-selected topster types to be set to display-none
    submissionControl();
</script>
<script src="../js/drag-drop.js"></script>
</body>
</html>