<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Your Profile')">

</head>
<body class="bg-dark">
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!--new styling for profile page-->
<nav th:replace="partials/partials.html :: navbar"></nav>
<h1 class="text-white d-flex justify-content-center mt-5 mb-0">Welcome to your profile</h1>
<div class="vh-25" th:object="${user}">
    <div class="container py-5 h-25">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card bg-gradient gradient-custom-4 mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white shadow-5-strong"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img
                                    id="profile-photo"
                                    th:src="*{profilePhotoURL}"
                                    alt="No Profile Photo"
                                    class="img-fluid my-5"
                                    style="width: 150px; height: 150px;"
                            />
                            <h6>Username:</h6>
                            <h4 th:text="*{username}"></h4>
                            <br>
                            <a th:href="@{'/profile-edit/' + *{id}}"><h6>Edit profile</h6><i
                                    class="far fa-edit mb-5 ml-1"></i></a>
                        </div>

                        <div class="col-md-8 shadow-5-strong">
                            <div class="card-body p-4">
                                <h6 class="text-white">About Me</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-12 mb-3">
                                        <p class="text-white" th:text="*{bio}"></p>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h6 class="text-white">My Topster Content</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6 class="text-white">Personal topsters</h6>
                                        <p class="text-white" th:text="${#lists.size(user.topsters)}"></p>
                                        <a href="/create-topster">
                                            <button id="profile1" class="text-white btn-rounded">Create</button>
                                        </a>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="text-white">Favorites</h6>
                                        <p class="text-white" th:text="${#lists.size(user.favoritedTopsters)}"></p>
                                        <a href="/discover">
                                            <button id="profile2" class="text-white btn-rounded">Discover</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--my topsters & favorited topsters tabs-->

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div>
    <br>
    <br>
    <ul class="nav nav-tabs mb-3" id="profileTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link active"
                    id="my-topsters-tab"
                    data-mdb-toggle="tab"
                    data-mdb-target="#my-topsters"
                    type="button"
                    role="tab"
                    aria-controls="my-topsters"
                    aria-selected="true"
            >My Topsters
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="favorite-topsters-tab"
                    data-mdb-toggle="tab"
                    data-mdb-target="#favorite-topsters"
                    type="button"
                    role="tab"
                    aria-controls="favorite-topsters"
                    aria-selected="false"
            >My Favorited Topsters
            </button>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active"
             id="my-topsters"
             role="tabpanel"
             aria-labelledby="my-topsters-tab">
            <div id="my-topster-tab-content">
                <div class="row shadow-5-primary">
                    <div class="col-12 col-md-5 p-2 my-2 mx-3 border border-dark"
                         th:each="topster : ${user.topsters}">
                        <a th:href="@{'/discover/topster/' + ${topster.id}}">
                            <h2 style="color: white;" th:text="${topster.title}"></h2>
                        </a>
                        <div>
                            <div class="row row-cols-3 g-2 g-lg-3"
                                 th:if="${#lists.size(topster.topsterContents) == 9}">
                                <div class="col"
                                     th:each="topsterContent : ${topster.topsterContents}">
                                    <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                         height="100%" width="100%">
                                </div>
                            </div>
                            <div class="row row-cols-4 g-2 g-lg-3"
                                 th:if="${#lists.size(topster.topsterContents) == 16}">
                                <div class="col"
                                     th:each="topsterContent : ${topster.topsterContents}">
                                    <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                         height="100%" width="100%">
                                </div>
                            </div>
                            <div class="row row-cols-5 g-2 g-lg-3"
                                 th:if="${#lists.size(topster.topsterContents) == 25}">
                                <div class="col"
                                     th:each="topsterContent : ${topster.topsterContents}">
                                    <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                         height="100%" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="favorite-topsters" role="tabpanel"
             aria-labelledby="favorite-topsters-tab">
            <div class="row">
                <div class="my-1 col-12 col-md-5 p-2 my-2 mx-3 border border-dark"
                     th:each="topster : ${user.favoritedTopsters}">
                    <h2 style="color: white;" th:text="${topster.title}"></h2>
                    <div>
                        <div class="row row-cols-3 g-2 g-lg-3"
                             th:if="${#lists.size(topster.topsterContents) == 9}">
                            <div class="col"
                                 th:each="topsterContent : ${topster.topsterContents}">
                                <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                     height="100%"
                                     width="100%">
                            </div>
                        </div>
                        <div class="row row-cols-4 g-2 g-lg-3"
                             th:if="${#lists.size(topster.topsterContents) == 16}">
                            <div class="col"
                                 th:each="topsterContent : ${topster.topsterContents}">
                                <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                     height="100%"
                                     width="100%">
                            </div>
                        </div>
                        <div class="row row-cols-5 g-2 g-lg-3"
                             th:if="${#lists.size(topster.topsterContents) == 25}">
                            <div class="col"
                                 th:each="topsterContent : ${topster.topsterContents}">
                                <img th:src="${topsterContent.album.spotifyAlbumArt}"
                                     height="100%"
                                     width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="partials/partials.html :: md-js"></script>
<script src="/keys.js"></script>
</body>
</html>