<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Edit Your Profile')">
</head>
<body>
	<nav th:replace="partials/partials.html :: navbar"></nav>
	<main>
	    <h1>Edit your User Profile!</h1>
	    <div>
	        <form th:action="@{/profile-edit}" method="POST" th:object="${user}">
		        <div class="form-outline col-4">
			        <input th:field="*{username}" type="text" id="typeText" class="form-control" />
			        <label class="form-label" for="typeText">Username</label>
		        </div>
		        <br>
		        <div class="form-outline col-4">
			        <input th:field="*{email}" type="email" id="typeEmail" class="form-control" />
			        <label class="form-label" for="typeEmail">Email</label>
		        </div>
		        <br>
		        <div class="form-outline col-4">
			        <input th:field="*{password}" type="text" id="typePassword" class="form-control" />
			        <label class="form-label" for="typePassword">Password</label>
		        </div>
		        <br>
		        <div class="form-outline col-4">
			        <textarea th:field="*{bio}" class="form-control" id="textAreaExample" rows="6"></textarea>
			        <label class="form-label" for="textAreaExample">Bio</label>
		        </div>
		        <br>
		        <input class="btn btn-primary" type="submit" value="Submit" />
	        </form>
	    </div>
	</main>
	<script th:replace="partials/partials.html :: md-js"></script>
</body>
</html>