main {
	margin-left: 100px;
	margin-right: 100px;
}

.fa-play{
	margin-right: 3px;
}

.topster-main{
	margin-top: 5px;
}

.row {
	margin-top: 0;
}

#3x3{
}

#4x4{

}

#5x5{
}

/*create page stylings*/

#topster-title{
	width: 90%;
}
#topster-text-body{
	width: 90%;
}

.hide {
	display: none;
}