<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head ('About Us')">


</head>
<body class="bg-dark">
<div>
<nav th:replace="partials/partials.html :: navbar2"></nav>
    <h2 class="text-white">About Us</h2>
    <p class="text-white">Run-CMC.net was devised by a group of young, eager software developers with a passion for learning. Coming from all walks of life, one thing we all shared in common was a love for music! Moving forward, we wanted to build a website about creativity, exploration, and musical discovery. We hope you enjoy!! </p>
<!-- Rotating card -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img
                    src="../img/amanda.jpg"

                    class="card-img-top"
                    alt="Hollywood Sign on The Hill"
            />
            <div class="card-body">
                <h5 class="card-title">Amanda</h5>
                <p class="card-text">
                    A gifted developer with a creative eye and penchant for a job well done.
                </p>
                <div class="card-footer">
                    <small class="text-muted"><ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
                        <li class="list-inline-item"><a href ="https://www.linkedin.com/in/amanda-monique-fonseca/" class="btn-floating btn-li"><i class="fab fa-linkedin-in fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href ="https://github.com/afonse03"class="btn-floating btn-git"><i class="fab fa-github fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1270" class="btn btn-danger btn-floating"><i class="fas fa-play"></i></a></li>
                    </ul></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img
                    src="../img/Sebastian.jpg"
                    class="card-img-top"
                    alt="Palm Springs Road"
            />
            <div class="card-body">
                <h5 class="card-title">Sebastian</h5>
                <p class="card-text">A clever problem solver with a keen eye for design and styling.</p>
                <div class="card-footer">
                    <small class="text-muted"><ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
                        <li class="list-inline-item"><a href ="https://www.linkedin.com/in/john-sebastian-mckelvey/" class="btn-floating btn-li"><i class="fab fa-linkedin-in fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href ="https://github.com/hedgeh0gpie"class="btn-floating btn-git"><i class="fab fa-github fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1264" class="btn btn-danger btn-floating"><i class="fas fa-play"></i></a></li>
                    </ul></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img
                    src="../img/chris.jpg"
                    class="card-img-top"
                    alt="Los Angeles Skyscrapers"
            />
            <div class="card-body">
                <h5 class="card-title">Chris</h5>
                <p class="card-text">
                    A gifted coder with a knack for problem solving and a passion for clean code.
                </p>
                <div class="card-footer">
                    <small class="text-muted"><ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
                        <li class="list-inline-item"><a href ="https://www.linkedin.com/in/christopher-lundblade/"class="btn-floating btn-li"><i class="fab fa-linkedin-in fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href ="https://github.com/ChrisLundblade"class="btn-floating btn-git"><i class="fab fa-github fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1267" class="btn btn-danger btn-floating"><i class="fas fa-play"></i></a></li>
                    </ul></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img
                    src="../img/ian.jpg"
                    class="card-img-top"
                    alt="Skyscrapers"
            />
            <div class="card-body">
                <h5 class="card-title">Ian</h5>
                <p class="card-text">
                    Talented in all aspects of programming and a clear visionary for client needs.
                </p>
                <div class="card-footer">
                    <small class="text-muted"><ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
                        <li class="list-inline-item"><a href ="https://www.linkedin.com/in/ian-arellano/"class="btn-floating btn-li"><i class="fab fa-linkedin-in fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href ="https://github.com/Katzuwu"class="btn-floating btn-git"><i class="fab fa-github fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1262" class="btn btn-danger btn-floating"><i class="fas fa-play"></i></a></li>
                    </ul></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <a class="ripple-surface" href="https://www.spotify.com/us/">
            <img
                    src="../img/Spotify_Logo_RGB_Green.png"
                    class="card-img-top"
                    alt="Skyscrapers"
            />
            </a>
            <div class="card-body">
                <h5 class="card-title">Run-CMC.net is powered by Spotify</h5>
                <p class="card-text">
                    This is a special thank you to spotify for the use of their api and a gracious thank you to our instructors for all their patience and knowledge.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img
                    src="../img/oj.jpg"
                    class="card-img-top"
                    alt="Skyscrapers"
            />
            <div class="card-body">
                <h5 class="card-title">O.J.</h5>
                <p class="card-text">
                    This guy doesn't know what he is doing.
                </p>
                <div class="card-footer">
                    <small class="text-muted"><ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">
                        <li class="list-inline-item"><a href ="https://www.linkedin.com/in/orenthal-hill/"class="btn-floating btn-li"><i class="fab fa-linkedin-in fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href ="https://github.com/ojhill"class="btn-floating btn-git"><i class="fab fa-github fa-lg"> </i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1275" class="btn btn-danger btn-floating"><i class="fas fa-play"></i></a></li>
                    </ul></small>
                </div>
            </div>
        </div>
    </div>
</div>
    <div>
        <a href="https://alumni.codeup.com/web-developers">
    <h6 class="text-white">contact us to see how we can help you</h6>
    </a>
</div>
</div>
</body>
</html>
<!--code for linkedin and github icons-->

<!--<ul class="list-unstyled list-inline d-flex justify-content-center flex-wrap mt-4">-->
<!--    <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fab fa-linkedin-in"> </i></a></li>-->
<!--    <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fab fa-github"> </i></a></li>-->
<!--</ul>-->
<!--<h5 class="font-weight-bold my-4">Contact Us</h5>-->
<!--<h6 a href src="https//:runcmc.net@gmail.com">Runcmc.net@gmail.com</h6>-->