<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head ('Album Page')">
</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<h1>View the highlighted album here!</h1>

<main class="container">


    <h3 th:text="${album.spotifyAlbumName}"></h3>
    <img th:src="${album.spotifyAlbumArt}" alt="album art" width="200"/>
    <h3 th:text="${album.spotifyArtist}"></h3><a target="_blank" th:href="'https://open.spotify.com/album/' + ${album.spotifyAlbumID}"><i class="fas fa-play"></i></a>
    <h3 th:text="${album.releaseDate}"></h3>

<script th:replace="partials/partials.html :: md-js"></script>

</main>
</body>
</html>