<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/create-head-partial.html :: head ('Create A Topster')">

</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<main>
    <h1>Create a topster!</h1>

    <div id="instructions-upper-bar">
        <button
                class="btn btn-primary"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#create-instructions"
                aria-expanded="false"
                aria-controls="collapseExample"
        >
            Collapse instructions
        </button>
    </div>
    <div id="create-instructions" class="collapse mt-3">
        Choose a size, type in the name of an artist or album you would like to add in the search bar below, and then hit "search".
        Then drag any desired album into an image slot on the right.
    </div>
    <br>
    <!--    <div id="album-art"></div><br>-->
    <input id="search-bar" placeholder="album or artist"type="text">
    <button id="search-button">Search</button>
    <span id="topster-submission-restriction">Your topster/collage can only be submitted once it is full and has a title and description of sufficient length</span>
    <form th:action="@{/create-topster}" th:method="POST" th:object="${topster}">
        <div>
            <label for="topster-type">Select a topster style</label>
            <select name="topster-type" id="topster-type" onchange="changeSelection()">
                <option value="5x5">5x5</option>
                <option value="4x4" selected>4x4</option>
                <option value="3x3">3x3</option>
            </select>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="results" class="row"></div>
                </div>
                <div id="3x3" th:replace="partials/3x3-topster.html :: 3x3-topster"></div>
                <div id="4x4" th:replace="partials/4x4-topster.html :: 4x4-topster"></div>
                <div id="5x5" th:replace="partials/5x5-topster.html :: 5x5-topster"></div>
                <hr>
                <h5 th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                <div class="col-12 form-outline">
                    <input id="topster-title" class="form-control" th:field="*{title}" type="text" maxlength="255">
                    <label class="form-label" for="topster-title">Title: </label>
                </div>
                <h5 th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
                <div class="col-12 form-outline">
                    <textarea id="topster-text-body" class="form-control" th:field="*{body}" maxlength="255"></textarea>
                    <label class="form-label" for="topster-text-body">Description: </label>
                </div>
                <div id="char-count"></div>
                <div class="col-9"></div>
                <div class="col-3">
                    <label for="public">Make public</label>
                    <input type="checkbox" id="public" name="isPublic" text="public" value="public" checked>
                    <!--                <button>Create</button>-->
                    <input id="submit-topster" type="submit" value="Create">
                </div>
            </div>
        </div>
    </form>
</main>
<script th:replace="partials/partials.html :: md-js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--<script src="/keys.js"></script>-->
<!--    <script src="../js/auth.js"></script>-->

<script th:inline="javascript">
    /*<![CDATA[*/
    var accessToken = [[${authToken}]].access_token;
    /*]]>*/
</script>
<script src="../js/topster-html.js"></script>
<script src="../js/char-count.js"></script>
<script>
    'use strict';

    const threeByThreeTopster = $('#3x3');
    const fourByFourTopster = $('#4x4');
    const fiveByFiveTopster = $('#5x5');

    const searchBar = $("#search-bar");
    const searchButton = $("#search-button");
    const searchResults = document.querySelector("#results");
    const albumArtDiv = document.querySelector("#album-art");
    const submitButton = document.querySelector("#submit-topster");
    const submissionRestriction = $("#topster-submission-restriction");

    //Following guide at https://www.youtube.com/watch?v=1vR3m0HupGI&ab_channel=MakerAtPlayCoding
    var redirect_uri = "http://localhost:8080/create-topster";
    const AUTHORIZE = "https://accounts.spotify.com/authorize";
    const TOKEN = "https://accounts.spotify.com/api/token";

    var access_token = null;
    var refresh_token = null;



    function changeSelection() {
        console.log($("#topster-type").val());
        switch ($("#topster-type").val()) {
            case "3x3":
                $("#3x3").css("display", "block");
                $("#4x4").css("display", "none");
                $("#5x5").css("display", "none");
                break;
            case "4x4":
                $("#3x3").css("display", "none");
                $("#4x4").css("display", "block");
                $("#5x5").css("display", "none");
                break;
            case "5x5":
                $("#3x3").css("display", "none");
                $("#4x4").css("display", "none");
                $("#5x5").css("display", "block");
                break;
            default:
                console.log("This should never happen")
        }
    }

    function clearUnselectedPartials(){
        switch ($("#topster-type").val()) {
            case "3x3":
                $("#4x4").outerHTML = "";
                $("#5x5").outerHTML = "";
                break;
            case "4x4":
                $("#3x3").outerHTML = "";
                $("#5x5").outerHTML = "";
                break;
            case "5x5":
                $("#3x3").outerHTML = "";
                $("#4x4").outerHTML = "";
                break;
            default:
                console.log("This should never happen")
        }
    }

    function submissionControl(){
    //    function deactivates the submit button if the selected topster is not full
        switch ($("#topster-type").val()) {
            case "3x3":
                if($("#3x3").find("img").length < 9){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            case "4x4":
                if($("#4x4").find("img").length < 16){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            case "5x5":
                if($("#4x4").find("img").length < 16){
                    submitButton.disabled=true;
                    submissionRestriction.css("visibility", "visible");
                }else{
                    submitButton.disabled=false;
                    submissionRestriction.css("visibility", "hidden");
                }
                break;
            default:
                console.log("This should never happen")
        }
    }

    function spotifySearch(){
        let options = {
            headers: {
                Accept: "application/json",
                Authorization: "Bearer " + accessToken,
                "Content-Type": "application/json"
            },
            method: "Get"
        };
        fetch("https://api.spotify.com/v1/search?q=" + searchBar.val() + "&type=album,artist", options)
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    searchResults.innerHTML = "";
                    data.albums.items.forEach(function (album, iterator) {
                        let albumString = "Artist: " + album.artists[0].name;
                        albumString += "\nAlbum: " + album.name;
                        albumString += "\nRelease Date: " + album.release_date;
                        let albumArtUrl = album.images[0].url;
                        // console.log(albumArtUrl);
                        // console.log(albumString);
                        searchResults.innerHTML +=
                                `<div id="result-${iterator}" class="search-result col-4">
                                        <img title="${albumString}" src="${albumArtUrl}"
                                        alt="${album.name} cover art" width="120" height="120"
                                        draggable="true" data-title="${album.name}"
                                        data-artist="${album.artists[0].name}"
                                        data-releasedate="${album.release_date}"
                                        data-spotifyid="${album.id}">`

                    });
                })
                .catch(error => console.error(error));
        onSearch();
    }
    searchBar.on("keyup", function(event){
        if(event.code=="Enter"){
            spotifySearch();
        }
    });
    searchButton.click(spotifySearch);
    changeSelection(); //This should cause non-selected topster types to be set to display-none
    submissionControl();
</script>
<script src="../js/drag-drop.js"></script>
</body>
</html>