<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials :: head ('Discover')">
</head>
<body class="bg-dark">
<nav th:replace="partials/partials :: navbar"></nav>

<main class="container">

    <!-- CONTAINER FOR HEADING AND SEARCH BAR -->
    <div class="row d-flex flex-column mb-5">
        <!-- HEADING -->
        <div class="mt-5 mb-2">
            <h1 class="card-title text-light text-center">Discover the Latest Topsters!</h1>
        </div>

        <!-- SEARCH BAR -->
        <section class="w-100 p-3 pb-2 d-flex justify-content-center align-items-center flex-column">

            <form th:action="@{/search}" method="get">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="search-bar" class="form-control text-light" name="search-bar"/>
                        <label class="form-label text-muted" for="form1">Search Topsters</label>
                    </div>
                    <button type="text" class="btn btn-info" id="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </section>
    </div>
    <!-- ^ END OF CONTAINER FOR HEADING AND SEARCH BAR -->


    <div th:object="${topster}" class="row d-flex justify-content-around">

        <!-- TOPSTER  -->
        <div class="col-xs-12 col-lg-5 p-2 my-4 card bg-dark align-self-center" th:each="topster : ${topster}">

            <!-- TOPSTER TITLE -->
            <div class="d-flex justify-content-between">
                <a th:href="@{'/discover/topster/' + ${topster.id}}" class="col-8">
                    <h4 class="mb-0 link-light" th:text="${topster.title}"></h4>
                </a>
            </div>
            <!-- ^ END OF TOPSTER TITLE -->


            <div class="d-flex justify-content-between">

                <!-- CREATED BY -->
                <div class="col-8">
                    <small class="text-muted"
                           th:text="'Created by: ' + ${topster.user.username}">
                    </small>
                </div>
                <!-- END OF CREATED BY -->

                <!-- DELETE BUTTON -->
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${#authentication.principal.id == topster.user.id}">
                        <form th:action="@{'/topster/' + ${topster.id} + '/delete'}" method="post"
                              class="d-flex">
                            <small class="text-muted text-end">
                                <i class="fa fa-trash" onclick="deleteConfirm(event)"></i>
                            </small>
                        </form>
                    </div>
                </div>
                <!-- ^ END OF DELETE BUTTON -->

                <!-- Edit BUTTON -->
                <div sec:authorize="isAuthenticated()" >
                    <div th:if="${#authentication.principal.id == topster.user.id}" class="vertical-center">
                        <small class="text-muted text-end">
                            <a th:href="@{'/edit-topster/' + ${topster.id}}">
                                <i class="fa fa-edit text-muted"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <!-- ^ END OF Edit BUTTON -->

                <!-- COMMENT COUNT -->
                <div class="d-flex">
                    <small class="text-muted text-end">
                        <i class="fa fa-comment"></i>
                    </small>
                    <small class="text-muted" th:text="'&nbsp;' + ${#lists.size(topster.comments)} + '&nbsp; &nbsp;'">
                    </small>
                </div>
                <!-- ^ END OF COMMENT COUNT -->

                <!-- FAVORITES BUTTON -->
                <div class="d-flex" th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <div th:case="${false}" class="vertical-center">
                        <small class="text-muted text-end">
                            <i class="far fa-heart" id="heart"></i>
                        </small>
                    </div>
                    <div th:case="${true}">
                        <form th:if="${#lists.contains(user.favoritedTopsters, topster)}" method="post"
                              th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id} + '/remove'}"
                              id="form1" class="vertical-center">
                            <small class="text-muted text-end">
                                <i class="fas fa-heart" onclick="clickHeart1()" id="heart1" th:data-topsterid="${topster.id}"></i>
                            </small>
                            <small class="text-muted"
                                   th:text="'&nbsp;' + ${#lists.size(topster.usersWhoFavorited)}">
                            </small>
                        </form>
                        <form th:if="${!#lists.contains(user.favoritedTopsters, topster)}" method="post"
                              th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id}}"
                              id="form2" class="vertical-center">
                            <small class="text-muted text-end">
                                <i class="far fa-heart" onclick="clickHeart2()" id="heart2" th:data-topsterid="${topster.id}"></i>
                            </small>
                            <small class="text-muted"
                                   th:text="'&nbsp;' + ${#lists.size(topster.usersWhoFavorited)}">
                            </small>
                        </form>
                    </div>
                    <div th:case="*">
                            <!-- Should never happen -->
                    </div>
                </div>
                <!--                    <small class="text-muted" th:text="'&nbsp;' + ${#lists.size(topster.usersWhoFavorited)}">-->
                <!--                    </small>-->

                <!-- ^ END OF FAVORITE BUTTON -->


            </div>
            <!-- ^ END OF TOPSTER HEADER -->

            <!-- TOPSTER ART -->
            <div class="row row-cols-3 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 9}">
                <div class="col m-0 p-0" th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/discover/topster/' + ${topsterContent.topster.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">
                    </a>
                </div>
            </div>

            <div class="row row-cols-4 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 16}">
                <div class="col m-0 p-0" th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/discover/topster/' + ${topsterContent.topster.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">
                    </a>

                </div>
            </div>

            <div class="row row-cols-5 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 25}">
                <div class="col m-0 p-0" th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/discover/topster/' + ${topsterContent.topster.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">
                    </a>
                </div>
            </div>
            <!-- ^ END OF TOPSTER ART -->

        </div>
        <!-- ^ END OF TOPSTER -->

    </div>


</main>
This script facilitates the original favorites solution with the on click functions
<script>
    function clickHeart1(event) {
        event.target.parentNode.parentNode.submit();
    }

    function clickHeart2(event) {
        event.target.parentNode.parentNode.submit();
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/delete-topster.js"></script>
<script src="../js/favorite.js"></script>
<script th:replace="partials/partials :: md-js"></script>
</body>
</html>
