<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials :: head ('Discover')">
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<main>
<h1>Discover the Latest Topsters!</h1>
	<form th:action="@{/search}" method="get" >
		<input id="search-bar" type="text" name="search-bar">
	<button id="search-button">Search</button>
	</form>
    <div th:object="${topster}" class="row">
        <div th:each="top : ${topster}" class="col-12 col-lg-6">
            <div th:text="${top.title}"></div>
			<span sec:authorize="isAuthenticated()">
				<span th:if="${#authentication.principal.id == top.user.id}">
					<form th:action="@{'/topster/' + ${top.id} + '/delete'}" method="post">
						<i class="fa fa-trash" onclick="this.parentNode.submit()"></i>
					</form>
				</span>
			</span>

            <div th:text="${top.body}"></div>
            <a th:href="@{'/discover/topster/' + ${top.id}}">Check Out This Topster!!!</a>
	        <div>
	            <div class="row row-cols-3 g-2 g-lg-3" th:if="${#lists.size(top.topsterContents) == 9}">
		            <div class="col" th:each="tc : ${top.topsterContents}">
		                <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" th:alt="'Cover art of '+${tc.album.spotifyAlbumName} +' by '+${tc.album.spotifyArtist}" height="100%" width="100%">
		            </div>
	            </div>
		        <div class="row row-cols-4 g-2 g-lg-3" th:if="${#lists.size(top.topsterContents) == 16}">
		            <div class="col" th:each="tc : ${top.topsterContents}">
		                <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" th:alt="'Cover art of '+${tc.album.spotifyAlbumName} +' by '+${tc.album.spotifyArtist}" height="100%" width="100%">
		            </div>
	            </div>
		        <div class="row row-cols-5 g-2 g-lg-3" th:if="${#lists.size(top.topsterContents) == 25}">
		            <div class="col" th:each="tc : ${top.topsterContents}">
		                <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" th:alt="'Cover art of '+${tc.album.spotifyAlbumName} +' by '+${tc.album.spotifyArtist}" height="100%" width="100%">
		            </div>
	            </div>
	        </div>
        </span>
    </div>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:replace="partials/partials :: md-js"></script>
</body>
</html>
