<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials :: head ('RUN//CMC')">

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<main>
	
	<h1 class="d-flex justify-content-center">Run//CMC</h1>
	<div>
		There is a truly overwhelming amount of recorded music in existence today--so much that it can be difficult even for a dedicated music fan to keep track of or determine what they've heard or want to hear, or what they might be interested in. Run//CMC is an online community that curates a music collage topster, ignites music discovery, and provides a platform to discuss favorite albums and topsters.

		Register today to get the full experience!
	</div>

<!--	Login -->
<div sec:authorize="!isAuthenticated()">
	<h1>Log In</h1>
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<div>
		<form th:action="@{/}" method="post">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" />
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			<input type="submit" value="Log In" />
		</form>
	</div>
	<div>
		<a th:href="register"><button>Register</button></a>
	</div>
</div>
</main>
<script th:replace="partials/partials :: md-js"></script>
</body>
</html>