<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/partials :: head ('View Topster')">
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<main>
    <h1>View the individual topster!</h1>
    <div th:object="${topster}">
        <div th:text="*{title}"></div>
        <div th:text="*{body}"></div>

        <th:block sec:authorize="isAuthenticated()">
            <form th:if="${#lists.contains(user.favoritedTopsters, topster)}" method="post" th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id} + '/remove'}">
                <button  class="favorite btn btn-outline-danger btn-floating" type="submit" value="submit"><i class="fas fa-heart"></i>
                </button>
            </form>
            <form th:if="${!#lists.contains(user.favoritedTopsters, topster)}" method="post" th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id}}">
                <button class="favorite btn btn-outline-dark btn-floating" type="submit" value="submit"><i class="fas fa-heart"></i>
                </button>
            </form>
        </th:block>



        <div class="col-6">
            <div class="row row-cols-3 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 9}">
                <div class="col" th:each="tc : *{topsterContents}">
                    <a th:href="@{'/album/' + ${tc.album.id}}">Go to this album!</a>
                    <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" height="100%" width="100%">
                </div>
            </div>
            <div class="row row-cols-4 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 16}">
                <div class="col" th:each="tc : *{topsterContents}">
                    <a th:href="@{'/album/' + ${tc.album.id}}">Go to this album!</a>
                    <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" height="100%" width="100%">
                </div>
            </div>
            <div class="row row-cols-5 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 25}">
                <div class="col" th:each="tc : *{topsterContents}">
                    <a th:href="@{'/album/' + ${tc.album.id}}">Go to this album!</a>
                    <img th:src="${tc.album.spotifyAlbumArt}" th:title="'Artist: '+${tc.album.spotifyArtist}+'&#010;Album: '+${tc.album.spotifyAlbumName} + '&#010;Release Date: '+${tc.album.releaseDate}" height="100%" width="100%">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="instructions-upper-bar">
        <button
                class="btn btn-primary"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#comment-thread"
                aria-expanded="false"
                aria-controls="collapseExample">
            Expand to view comments
        </button>
        <div id="comment-thread" class="collapse mt-3">

            <form th:action="@{'/discover/topster/' + ${topster.id}}" method="post" th:object="${comment}">

                <textarea name="body" placeholder="Write your comment here."></textarea>

                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </form>
        </div>
        <div th:each="comment : *{topster.comments}">

            <div th:text="'User: ' + ${comment.user.username}"></div>

            <div th:attr="data-editid=${comment.id}" id="comment-body" th:text="${comment.body}"></div>

            <textarea style="display:none" th:attr="data-editid=${comment.id}" class="edit-comment-field"></textarea>

            <br>

            <input th:attr="data-editid=${comment.id}" style="display:none" type="submit" class="comment-edit-submit">
<!--            <button class="edit-button" th:attr="data-editid=${comment.id}" type="button" value="Edit">Edit</button>-->

            <div sec:authorize="isAuthenticated()">
                <div th:if="${#authentication.principal.id == comment.user.id}">
                    <form th:action="@{'/discover/topster/' + ${topster.id} + '/delete'}" method="post">
                        <input type="hidden" th:value="${comment.id}" th:attr="name='id'"/>
                        <button type="submit" value="Delete">Delete</button>
                    </form>
                    <br>
                </div>
            </div>

        </div>
    </div>
</main>
<script th:replace="partials/partials :: md-js"></script>
<script>
    var editSubmits = document.querySelectorAll(".comment-edit-submit");
    editSubmits.forEach(function (editSubmitTag) {
        let commentId = editSubmitTag.dataset.editid;
        let commentEditField = document.querySelectorAll(`[data-editid='` + commentId + `']`)[1];
        let editedCommentBody = commentEditField.textContent;
        //    AND THEN SEBASTIAN WRITES THE AJAX POST...MUAHAHAHA
    });

    btns = document.querySelectorAll(".edit-button");
    btns.forEach(function (btn) {
        btn.addEventListener("click", function (e) {
            let commentId = (e.target.dataset.editid);
            console.log(commentId);
            let commentEditField = document.querySelectorAll(`[data-editid='` + commentId + `']`)[1];
            let commentBody = document.querySelectorAll(`[data-editid='` + commentId + `']`)[0];
            let submitEditCommentButton = document.querySelectorAll(`[data-editid='` + commentId + `']`)[2];
            commentEditField.textContent = commentBody.textContent;

            // this if-else manipulates the edit button to toggle the view
            if (commentEditField.style.display === "none") {
                commentEditField.style.display = "inline-block";
                submitEditCommentButton.style.display = "inline-block";
            } else {
                commentEditField.style.display = "none";
                submitEditCommentButton.style.display = "none";
            }
            // document.getElementById("comment-body").innerHTML = "<h1>test2</h1>";
        });
    });
</script>
</body>
</html>
