<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/partials :: head ('View Topster')"></head>
<body class="bg-dark">
<nav th:replace="partials/partials :: navbar2"></nav>


<main class="container">


    <!-- CONTAINER FOR TOPSTER AND TITLE/DESCRIPTION CARD -->
    <div class="row d-flex flex-column justify-content-evenly mb-5" th:object="${topster}">

        <!-- TITLE -->
        <div class="mt-5 mb-2">
            <h1 class="card-title text-light text-center" th:text="*{title}"></h1>
            <h5 class="text-muted text-center"
                th:text="'Created by: ' + ${topster.user.username}">
            </h5>
        </div>

        <!-- DESCRIPTION CARD -->
        <div class="col-xs-12 col-lg-7 align-self-center card bg-dark">
            <div class="mt-2 mb-5">
                <p class="card-text">
                    <small class="text-muted" th:text="*{body}"></small>
                </p>
            </div>
        </div>


        <!-- TOPSTER  -->
        <div class="col-xs-12 col-lg-7 p-2 card bg-dark align-self-center" th:object="${topster}">

            <!-- TOPSTER HEADER -->
            <div class="d-flex">
                <!-- DELETE BUTTON -->
                <span sec:authorize="isAuthenticated()">
				    <div th:if="${#authentication.principal.id == topster.user.id}"
                         class="col-1 d-flex justify-content-end">
					    <form th:action="@{'/topster/' + ${topster.id} + '/delete'}" method="post">
                            <small class="text-muted text-end">
                                <i class="fa fa-trash" onclick="deleteConfirm(event)"></i>
                            </small>
					    </form>
				    </div>
			    </span>

                <!-- Edit BUTTON -->
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${#authentication.principal.id == topster.user.id}" class="vertical-center">
                        <small class="text-muted text-end">
                            <a th:href="@{'/edit-topster/' + ${topster.id}}">
                                <i class="fa fa-edit text-muted ml-1"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <!-- ^ END OF Edit BUTTON -->

                <!-- COMMENT COUNT -->
                <div class="col-1 d-flex justify-content-end">
                    <small class="text-muted text-end">
                        <i class="fa fa-comment"></i>
                    </small>
                    <small class="text-muted"
                           th:text="'&nbsp;' + ${#lists.size(topster.comments)} + '&nbsp; &nbsp;'">
                    </small>
                </div>

                <!-- FAVORITE BUTTON -->
                <div class="col-1 d-flex justify-content-end">
                    <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                        <span th:case="${false}">
                            <small class="text-muted text-end">
                                <i class="far fa-heart" id="heart"></i>
                            </small>
                        </span>
                        <span th:case="${true}">
                            <form th:if="${#lists.contains(user.favoritedTopsters, topster)}" method="post"
                                  th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id} + '/remove'}"
                                  id="form1">
                                <small class="text-muted text-end">
                                    <i class="fas fa-heart" onclick="clickHeart1()" id="heart1"></i>
                                </small>
                            </form>
                            <form th:if="${!#lists.contains(user.favoritedTopsters, topster)}" method="post"
                                  th:action="@{'/favorites/user/' + ${user.id} + '/topster/' + ${topster.id}}"
                                  id="form2">
                                <small class="text-muted text-end">
                                    <i class="far fa-heart" onclick="clickHeart2()" id="heart2"></i>
                                </small>
                            </form>
                            <script>
                                function clickHeart1() {
                                    document.getElementById("form1").submit();
                                }
                                function clickHeart2() {
                                    document.getElementById("form2").submit();
                                }
                            </script>
                        </span>
                        <span th:case="*"><!-- Should never happen --></span>
                    </div>
                    <small class="text-muted" th:text="'&nbsp;' + ${#lists.size(topster.usersWhoFavorited)}">
                    </small>
                </div>
                <!-- End of Favorite Button logic -->

            </div>
            <!-- ^ END OF TOPSTER HEADER -->


            <!-- TOPSTER ART -->
            <div class="row row-cols-3 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 9}">
                <div class="col m-0 p-0 hover-zoom" data-mdb-ripple-color="light"
                     th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/album/' + ${topsterContent.album.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">

                    </a>
                </div>
            </div>

            <div class="row row-cols-4 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 16}">
                <div class="col m-0 p-0 hover-zoom" th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/album/' + ${topsterContent.album.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">
                    </a>

                </div>
            </div>

            <div class="row row-cols-5 g-2 g-lg-3" th:if="${#lists.size(topster.topsterContents) == 25}">
                <div class="col m-0 p-0 hover-zoom" th:each="topsterContent : ${topster.topsterContents}">
                    <a th:href="@{'/album/' + ${topsterContent.album.id}}">
                        <img th:src="${topsterContent.album.spotifyAlbumArt}"
                             th:title="'Artist: '+${topsterContent.album.spotifyArtist}+'&#010;Album: '+${topsterContent.album.spotifyAlbumName} + '&#010;Release Date: '+${topsterContent.album.releaseDate}"
                             th:alt="'Cover art of '+${topsterContent.album.spotifyAlbumName} +' by '+${topsterContent.album.spotifyArtist}"
                             height="100%" width="100%">
                    </a>
                </div>
            </div>
            <!-- ^ END OF TOPSTER ART -->

        </div>
        <!-- ^ END OF TOPSTER -->

    </div>
    <!-- ^ END OF CONTAINER FOR TOPSTER -->


    <br>

    <!-- JOIN THE DISCUSSION -->
    <div class="d-flex flex-column">
        <h5 class="col-12 text-light text-center mb-5">Join The <span
                id="topsters-gradient">Discussion</span></h5>
        <br>
    </div>


    <!-- COMMENT SECTION -->
    <div id="instructions-upper-bar" class="col-12 p-2 card bg-dark" style="max-width: 1290px">

        <!-- VIEW AND ADD COMMENT BUTTONS -->
        <div class="row container d-flex justify-content-evenly">

            <a
                    class="btn btn-primary col-5"
                    data-mdb-toggle="collapse"
                    href="#addComment"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
            >
                Add Comment
            </a>

        </div>


        <!-- COLLAPSABLE ADD-COMMENT TEXTAREA -->
        <div class="collapse mt-3 scroll-section text-light" id="addComment" style="max-width: 1290px">
            <form th:action="@{'/discover/topster/' + ${topster.id}}" method="post" th:object="${comment}">
                <div class="form-outline form-white">
                    <textarea id="commentTextArea" name="body" class="form-control" rows="4"></textarea>
                    <label class="form-label" for="commentTextArea">Write your comment here</label>
                </div>

                <button class="btn btn-primary d-flex flex-row-reverse" type="submit" value="Submit">Submit</button>
            </form>
        </div>


        <!-- COMMENT THREAD -->
        <div class="mt-3 scroll-section text-light" id="commentThread" style="max-width: 1290px; max-height: 400px;">
            <div th:each="comment : *{topster.comments}">
                <div th:text="'User: ' + ${comment.user.username}"></div>
                <div th:attr="data-editid=${comment.id}" id="comment-body" th:text="${comment.body}"></div>
                <br>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${#authentication.principal.id == comment.user.id}">
                        <form th:action="@{'/discover/topster/' + ${topster.id} + '/delete'}" method="post">
                            <input type="hidden" th:value="${comment.id}" th:attr="name='id'"/>
                            <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <br>
    <br>


</main>
<script th:src="@{/js/delete-topster.js}"></script>
<script th:replace="partials/partials:: md-js"></script>
<script>
    var editSubmits = document.querySelectorAll(".comment-edit-submit");
    editSubmits.forEach(function (editSubmitTag) {
        let commentId = editSubmitTag.dataset.editid;
        let commentEditField = document.querySelectorAll(`[data-editid='` + commentId + `']`)[1];
        let editedCommentBody = commentEditField.textContent;
        //    AND THEN SEBASTIAN WRITES THE AJAX POST...MUAHAHAHA
    });

    btns = document.querySelectorAll(".edit-button");
    btns.forEach(function (btn) {
        btn.addEventListener("click", function (e) {
            let commentId = (e.target.dataset.editid);
            console.log(commentId);
            let commentEditField = document.querySelectorAll(`[data-editid='` + commentId + `']`)[1];
            let commentBody = document.querySelectorAll(`[data-editid='` + commentId + `']`)[0];
            let submitEditCommentButton = document.querySelectorAll(`[data-editid='` + commentId + `']`)[2];
            commentEditField.textContent = commentBody.textContent;

            // this if-else manipulates the edit button to toggle the view
            if (commentEditField.style.display === "none") {
                commentEditField.style.display = "inline-block";
                submitEditCommentButton.style.display = "inline-block";
            } else {
                commentEditField.style.display = "none";
                submitEditCommentButton.style.display = "none";
            }
            // document.getElementById("comment-body").innerHTML = "<h1>test2</h1>";
        });
    });
</script>

</body>
</html>
